
<%= link_to 'Add Game', new_game_path %>

<div class="flex justify-center w-full">
  <div class="font-card bg-white shadow-dark rounded-lg overflow-hidden w-44 h- h-60 p-1 flex justify-center items-center">
    <div  class="border-green-200 border-8 border-double rounded-lg w-full h-full flex justify-center items-center"> 
      <span class="text-7xl text-black">QU</span>
    </div>
  </div>
  <div class="font-card bg-white shadow-dark rounded-lg overflow-hidden w-44 h- h-60 p-1 flex justify-center items-center">
    <div  class="border-green-200 border-8 border-double rounded-lg w-full h-full flex justify-center items-center"> 
      <span class="text-7xl text-black">I</span>
    </div>
  </div>
  <div class="font-card bg-white shadow-dark rounded-lg overflow-hidden w-44 h- h-60 p-1 flex justify-center items-center">
    <div  class="border-green-200 border-8 border-double rounded-lg w-full h-full flex justify-center items-center"> 
      <span class="text-7xl text-black">D</span>
    </div>
  </div>
  <div class="font-card bg-white shadow-dark rounded-lg overflow-hidden w-44 h- h-60 p-1 flex justify-center items-center">
    <div  class="border-green-200 border-8 border-double rounded-lg w-full h-full flex justify-center items-center"> 
      <span class="text-7xl text-black">D</span>
    </div>
  </div>
  <div class="font-card bg-white shadow-dark rounded-lg overflow-hidden w-44 h- h-60 p-1 flex justify-center items-center">
    <div  class="border-green-200 border-8 border-double rounded-lg w-full h-full flex justify-center items-center"> 
      <span class="text-7xl text-black">L</span>
    </div>
  </div>
  <div class="font-card bg-white shadow-dark rounded-lg overflow-hidden w-44 h- h-60 p-1 flex justify-center items-center">
    <div  class="border-green-200 border-8 border-double rounded-lg w-full h-full flex justify-center items-center"> 
      <span class="text-7xl text-black">E</span>
    </div>
  </div>
  <div class="font-card bg-white shadow-dark rounded-lg overflow-hidden w-44 h- h-60 flex p-1 justify-center items-center">
    <div  class="border-green-200 border-8 border-double rounded-lg w-full h-full flex justify-center items-center"> 
      <span class="text-7xl text-black">R</span>
    </div>
  </div>
</div>